<template>
    <v-rect ref="grid" :config="gridRectConfig"></v-rect>
</template>

<script>
import { mapState } from 'vuex';
import { renderGridTile } from './grid/render.js';

export default {
    props: {
        width: {
            type: Number,
            required: true,
        },
        height: {
            type: Number,
            required: true,
        },
        gridConfig: {
            type: Object,
            required: true,
        },
        gridFullness: {
            type: Number,
            default: 0.2,
        },
        gridColor: {
            type: String,
            default: '#000',
        },
    },
    computed: {
        ...mapState('grid', {
            isGridFinding: 'active',
        }),
        areaConfig: function() {
            return {
                width: this.width * 50,
                height: this.height * 50,
                position: { x: 0, y: 0 },
            };
        },
        gridRectConfig() {
            let { canvas, offset } = renderGridTile({
                width: 50,
                height: 50,
                thickness: 1,
                size: this.gridFullness,
                color: this.visible ? '#000' : '#00000000',
            });

            let config = {
                fillPatternOffset: {
                    x: Math.round(offset.x),
                    y: Math.round(offset.y),
                },
                fillPatternImage: canvas,
                listening: false,
            };

            // We need to manually call fillPatternImage here because Konva can't respond
            // to the image size changing without the image elemnt itself changes
            const node = this.$refs.grid && this.$refs.grid.getNode();
            if (node) {
                node.fillPatternImage(canvas);
            }

            return Object.assign(config, this.areaConfig);
        },
        visible: function() {
            if (this.isGridFinding) {
                return true;
            }
            if (!('visible' in this.gridConfig)) {
                return true;
            }
            return this.gridConfig.visible;
        },
    },
};
</script>
