<template>
    <v-image :config="imageConfig"></v-image>
</template>

<script>
export default {
    props: {
        image: {
            type: String,
            default: '/static/assets/tutorial/thank-you.jpg',
        },
    },
    data() {
        return {
            mapImage: null,
        };
    },
    computed: {
        imageConfig: function() {
            let config = {
                image: this.mapImage,
            };
            return config;
        },
    },
    watch: {
        image: async function() {
            const image = new window.Image();
            image.src = this.image;
            image.onload = () => {
                // set image only when it is loaded
                this.mapImage = image;
            };
        },
    },
    created() {
        const image = new window.Image();
        image.src = this.image;
        image.onload = () => {
            // set image only when it is loaded
            this.mapImage = image;
        };
    },
};
</script>
