<template>
    <BaseModal cssid="gridfinder-tutorial" @escape="close">
        <div class="container">
            <h5>How to Use the Grid Finder</h5>
            <p>
                After activating Grid Finder Mode to the left you will be able to click and add positioning points on
                the grid. By centering these indicators on grid intersections your grid will automatically resize and
                position itself.
                <br />
                <br />
                Start by clicking diagonal corners of one grid square on your map. You'll see the grid resize! Now if
                you add points further away from your initial intersections you'll see the map become more accurate.
                Keep adding points until you get the result you are looking for!
                <br />
                <br />
                If at any time you want to get rid of a point you have added, just left click and it will disapear.
            </p>
        </div>
        <button class="modal-button" @click="close">Close</button>
    </BaseModal>
</template>

<script>
import BaseModal from '@/core/components/BaseModal.vue';
export default {
    components: {
        BaseModal,
    },
    methods: {
        close() {
            this.$emit('close');
        },
    },
};
</script>

<style lang="scss" scoped>
img {
    width: 100%;
}
.container {
    padding: 30px !important;
}
h5 {
    margin: 0 0 1.25rem 0;
    font-size: 2rem;
}
p {
    font-size: 1rem;
    line-height: 1.5rem;
}
.modal-button {
    position: absolute;
    bottom: 1.5em;
    right: 1.5em;
}
</style>
