<template>
    <transition name="modal">
        <div class="modal-mask" :v-show="show">
            <div :class="['modal-container', `modal-container--${variant}`]" :id="cssid">
                <slot />
            </div>
        </div>
    </transition>
</template>

<script lang="ts">
export default {
    props: {
        show: {
            type: Boolean,
            default: false,
        },
        cssid: {
            type: String,
            default: '',
        },
        variant: {
            type: String,
            default: '',
            // Design docs here allow for one-panel variant which I'm not currently adding.
            // Adjust validator if someone adds it later.
            // https://gitlab.com/mythicteam/mythictable/-/wikis/%5BDRAFT%5D-Design-Guidelines
            validator(val) {
                return !val || ['minified'].includes(val);
            },
        },
    },
    mounted() {
        window.addEventListener('keyup', this.onKeyUp);
    },
    destroyed() {
        window.removeEventListener('keyup', this.onKeyUp);
    },
    methods: {
        onKeyUp: function(event) {
            if (event.key == 'Escape') {
                this.$emit('escape', {});
            }
        },
    },
};
</script>

<style scoped>
.modal-mask {
    backdrop-filter: blur(3px);
}
@media screen and (max-width: 900px) {
    .modal-container {
        width: 95% !important;
        min-width: 350px !important;
        min-height: 200px !important;
    }
}
.modal-container {
    position: relative;
    width: 850px;
    padding: 0px !important;
    border-radius: 30px;
    overflow: hidden;
}
</style>
