<template>
    <article class="grid-panel">
        <h5 class="title">Grid Settings</h5>
        <label for="gfs" class="grid-finder" :class="{ active: isGridFinding }">
            <svg
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns="http://www.w3.org/2000/svg"
                id="screenshot"
                viewBox="-0.4295529105447713 -0.04754590558218297 20.047021780707837 18.095091811163798"
                width="20.047021780707837"
                height="18.095091811163798"
            >
                <g id="shape-a668e0a0-c18e-11eb-b2e4-7b70d3885ac1">
                    <g>
                        <g id="shape-a66f2230-c18e-11eb-b2e4-7b70d3885ac1">
                            <path
                                d="M2.3893166962061514,7.172977486434775C2.428008535116078,7.245181730944864,2.5301077675148917,7.303567150392041,2.6169359099494613,7.303567150392041C2.6172329535952485,7.303567150392041,2.6166388663045836,7.303567150392041,2.6169359099494613,7.303567150392041C2.7034974747548404,7.271935824480806,2.8040353238902753,7.24366201361056,2.8421178425023754,7.172977486434775L3.6311876281420155,5.418940944567794L5.520842201667165,4.687002665662476C5.597883136819291,4.651236294911541,5.660376549861667,4.557084504713316,5.660833540084695,4.47714030447753C5.660224219787324,4.3986097947853295,5.599292190007873,4.299651456739184,5.523127152784127,4.264309193151348L3.6418507333532943,3.5362585632408354L3.626617725909,3.5221216578056556L2.8421178425023754,1.7797480629226357C2.8040353238902753,1.70764984520315,2.7034974747548404,1.6496885329190718,2.6170501575056733,1.6489816876473924C2.616753113860341,1.6489816876473924,2.617347201150551,1.6489816876473924,2.6170501575056733,1.6489816876473924C2.53026009758878,1.6489816876473924,2.4279323700784516,1.7071903957765926,2.3892786136875657,1.7793946402865686L1.6010085609386806,3.5327243368819836L-0.28940766295863796,4.264309193151348C-0.3667151757413194,4.303185683097922,-0.42955133145096625,4.395075568426591,-0.42955133145096625,4.444554737449494C-0.42955133145096625,4.524640306739684,-0.3666390107036932,4.619463599946016,-0.2893314979214665,4.655371339751241L1.6010847259753973,5.386956196020606L2.3893166962061514,7.172977486434775ZZM7.491993365022154,2.182649867824466L7.964978246182454,3.235142477471868C7.987066106977636,3.3104214989140246,8.047998136756632,3.3454103398661346,8.101313662813482,3.3454103398661346C8.15462918887033,3.3454103398661346,8.214304495535089,3.310276595633354,8.237496749369711,3.266985856964652L8.71063396060481,2.182649867824466L9.844731364868494,1.7436989540628929C9.89115395505678,1.7221613786324497,9.928931813519739,1.6652037866342653,9.928931813519739,1.6171736504181808C9.928931813519739,1.5689314606207745,9.891146338552517,1.5123131543530235,9.844731364868494,1.4907897158279866L8.71063396060481,1.083505470241107L8.238410729816678,0.030906833802873734C8.215561218649327,-0.012451055166707192,8.120354922119532,-0.04744696457134978,8.101313662813482,-0.04744696457134978C8.082272403507432,-0.04744696457134978,7.987066106977636,-0.012451055166707192,7.964216595810285,0.030906833802873734L7.491993365022154,1.083505470241107L6.357134310385845,1.5224563840025667C6.311435288051598,1.5440151647912899,6.273352769439498,1.6005627865318957,6.273352769439498,1.6171736504181808C6.273352769439498,1.6652037866342653,6.311138244406266,1.722175515537856,6.357477053053117,1.7436989540628929L7.491993365022154,2.182649867824466ZZM19.080503778640377,1.6489816876473924L17.788744747323108,0.44946526147430177C17.07507834853459,-0.213202180798703,15.91736978273093,-0.213202180798703,15.20370338394332,0.44939457694715657L0.6546579734313127,13.951623642592267C-0.0593892505430631,14.613937662229318,-0.0593892505430631,15.687989052665444,0.6545094516086465,16.350656494938335L1.9466493081126828,17.550526343747265C2.6603157069007466,18.21319378602027,3.8180242727039513,18.21319378602027,4.531690671492015,17.55066417857529L19.080503778640377,4.048721385265253C19.79645512854495,3.385347097720455,19.79645512854495,2.311649129920397,19.080503778640377,1.6489816876473924ZZM13.345276475679839,6.572159005440653L12.483469079491442,5.772363580446722L16.49736654119124,2.047288998282852L17.360316412938573,2.847084423276897L13.345276475679839,6.572159005440653ZZM18.928173704192886,13.311928671651572L17.040423256597933,12.581404083289726L16.249449345027188,10.82595385087916C16.209081875299034,10.75668301424696,16.110067326907938,10.696601166147616,16.02247753410029,10.696601166147616C15.935611309146225,10.696601166147616,15.834007149489935,10.754986585594565,15.795315310580008,10.827190830104769L15.007007175311628,12.581227371971863L13.116590951414764,13.313165650877067C13.039397686188295,13.349073390682292,12.976599612997234,13.443225180880404,12.97644728292289,13.523628830542975C12.976595804745557,13.603573030778648,13.03943576870688,13.698820431148079,13.116590951414764,13.734657486426272L15.004341399009263,14.46518207478789L15.795315310580008,16.220632307198457C15.832064941040244,16.291281492110784,15.934887741292641,16.351363340210128,16.02247753410029,16.351363340210128C16.10919142898001,16.351363340210128,16.21071942359913,16.29283655170866,16.249411262508147,16.220632307198457L17.037719397776527,14.466595765331363L18.928516446859703,13.734657486426272C19.005709712085718,13.698820431148079,19.068507785277234,13.60413850699615,19.06866011535203,13.524194306760364C19.06907902305693,13.442695046926701,19.004338741416632,13.350805161598146,18.928173704192886,13.311928671651572ZZ"
                            ></path>
                        </g>
                    </g>
                </g>
            </svg>
            Grid Finder Mode
        </label>
        <md-switch id="gfs" class="grid-finder-status" v-model="isGridFinding" />
        <button class="tutorial" @click="showTutorial = true">?</button>
        <label for="stgs" class="snap-to-grid" :class="{ active: snap }">
            <svg
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns="http://www.w3.org/2000/svg"
                id="screenshot"
                viewBox="0.0755513473695828 -1.1047711723222164e-7 21.011923757998375 19.499995769339193"
                width="21.011923757998375"
                height="19.499995769339193"
            >
                <g id="shape-63ddd010-c18e-11eb-b2e4-7b70d3885ac1">
                    <g>
                        <g id="shape-63e486d0-c18e-11eb-b2e4-7b70d3885ac1">
                            <path
                                d="M2.3268291602794307,16.714281715579887L0.8259775118995094,16.714281715579887C0.40972568754386884,16.714281715579887,0.07555168770932141,17.023321815478994,0.07555168770932141,17.410710109718593L0.07555168770932141,18.80356689799612C0.07555168770932141,19.190955192235833,0.40972568754386884,19.499995292134827,0.8259775118995094,19.499995292134827L2.3268291602794307,19.499995292134827C2.7433154927048236,19.499995292134827,3.077254984469164,19.190955192235833,3.077254984469164,18.80356689799612L3.077254984469164,17.410710109718593C3.077254984469164,17.023321815478994,2.7433154927048236,16.714281715579887,2.3268291602794307,16.714281715579887ZZM0.8259775118995094,6.964284197637426L2.3268291602794307,6.964284197637426C2.7433154927048236,6.964284197637426,3.077254984469164,6.655244097738432,3.077254984469164,6.267855803498833L3.077254984469164,4.874999015221306C3.077254984469164,4.487610720981593,2.7433154927048236,4.178570621082599,2.3268291602794307,4.178570621082599L0.8259775118995094,4.178570621082599C0.40972568754386884,4.178570621082599,0.07555168770932141,4.487610720981593,0.07555168770932141,4.874999015221306L0.07555168770932141,6.267855803498833C0.07555168770932141,6.655244097738432,0.40972568754386884,6.964284197637426,0.8259775118995094,6.964284197637426ZZM14.3336423473188,2.7857138328049587L15.834493995698722,2.7857138328049587C16.25191836040449,2.7857138328049587,16.58491981988891,2.47580319741337,16.58491981988891,2.0892854386663657L16.58491981988891,0.6964286503887251C16.58491981988891,0.3099108916417208,16.25191836040449,2.5625013222452253e-7,15.834493995698722,2.5625013222452253e-7L14.3336423473188,2.5625013222452253e-7C13.916217982613489,2.5625013222452253e-7,13.583216523128613,0.3099108916417208,13.583216523128613,0.6964286503887251L13.583216523128613,2.0892854386663657C13.583216523128613,2.47580319741337,13.916217982613489,2.7857138328049587,14.3336423473188,2.7857138328049587ZZM2.3268291602794307,12.53571135074742L0.8259775118995094,12.53571135074742C0.40972568754386884,12.53571135074742,0.07555168770932141,12.844751450646527,0.07555168770932141,13.232139744886126L0.07555168770932141,14.624996533163767C0.07555168770932141,15.012384827403366,0.40972568754386884,15.32142492730236,0.8259775118995094,15.32142492730236L2.3268291602794307,15.32142492730236C2.7433154927048236,15.32142492730236,3.077254984469164,15.012384827403366,3.077254984469164,14.624996533163767L3.077254984469164,13.232139744886126C3.077254984469164,12.844751450646527,2.7433154927048236,12.53571135074742,2.3268291602794307,12.53571135074742ZZM5.328532457039273,2.7857138328049587L6.82938410541874,2.7857138328049587C7.246808470124961,2.7857138328049587,7.579809929608928,2.47580319741337,7.579809929608928,2.0892854386663657L7.579809929608928,0.6964286503887251C7.579809929608928,0.3099108916417208,7.246808470124961,2.5625013222452253e-7,6.82938410541874,2.5625013222452253e-7L5.328532457039273,2.5625013222452253e-7C4.911108092333507,2.5625013222452253e-7,4.578106632849085,0.3099108916417208,4.578106632849085,0.6964286503887251L4.578106632849085,2.0892854386663657C4.578106632849085,2.47580319741337,4.911108092333507,2.7857138328049587,5.328532457039273,2.7857138328049587ZZM0.8259775118995094,2.7857138328049587L2.3268291602794307,2.7857138328049587C2.7433154927048236,2.7857138328049587,3.077254984469164,2.47580319741337,3.077254984469164,2.0892854386663657L3.077254984469164,0.6964286503887251C3.077254984469164,0.3099108916417208,2.7433154927048236,2.5625013222452253e-7,2.3268291602794307,2.5625013222452253e-7L0.8259775118995094,2.5625013222452253e-7C0.40972568754386884,2.5625013222452253e-7,0.07555168770932141,0.3099108916417208,0.07555168770932141,0.6964286503887251L0.07555168770932141,2.0892854386663657C0.07555168770932141,2.47580319741337,0.40972568754386884,2.7857138328049587,0.8259775118995094,2.7857138328049587ZZM15.834493995698722,16.714281715579887L14.3336423473188,16.714281715579887C13.91739052296407,16.714281715579887,13.583216523128613,17.02440998484485,13.583216523128613,17.410710109718593L13.583216523128613,18.80356689799612C13.583216523128613,19.189867022869976,13.91739052296407,19.499995292134827,14.3336423473188,19.499995292134827L15.834493995698722,19.499995292134827C16.250745820053908,19.499995292134827,16.58491981988891,19.189867022869976,16.58491981988891,18.80356689799612L16.58491981988891,17.410710109718593C16.58491981988891,17.023321815478994,16.25191836040449,16.714281715579887,15.834493995698722,16.714281715579887ZZM20.337048940839395,4.178570621082599L18.83619729245902,4.178570621082599C18.418772927753253,4.178570621082599,18.08577146826883,4.487610720981593,18.08577146826883,4.874999015221306L18.08577146826883,6.267855803498833C18.08577146826883,6.655244097738432,18.418772927753253,6.964284197637426,18.83619729245902,6.964284197637426L20.337048940839395,6.964284197637426C20.75447330554516,6.964284197637426,21.08747476502913,6.655244097738432,21.08747476502913,6.267855803498833L21.08747476502913,4.874999015221306C21.08747476502913,4.487610720981593,20.75447330554516,4.178570621082599,20.337048940839395,4.178570621082599ZZM20.337048940839395,2.5625013222452253e-7L18.83619729245902,2.5625013222452253e-7C18.418772927753253,2.5625013222452253e-7,18.08577146826883,0.3099108916417208,18.08577146826883,0.6964286503887251L18.08577146826883,2.0892854386663657C18.08577146826883,2.47580319741337,18.418772927753253,2.7857138328049587,18.83619729245902,2.7857138328049587L20.337048940839395,2.7857138328049587C20.75447330554516,2.7857138328049587,21.08747476502913,2.47580319741337,21.08747476502913,2.0892854386663657L21.08747476502913,0.6964286503887251C21.08747476502913,0.3099108916417208,20.75447330554516,2.5625013222452253e-7,20.337048940839395,2.5625013222452253e-7ZZM19.586623116649207,8.357140985915066L12.082364874749146,8.357140985915066L12.082364874749146,1.3536829473572425C12.082364874749146,0.6237389367506694,11.411671794379345,2.5625013222452253e-7,10.581513226369225,2.5625013222452253e-7C9.75135465835865,2.5625013222452253e-7,9.080661577989304,0.6237389367506694,9.080661577989304,1.3536829473572425L9.080661577989304,8.357140985915066L1.5341918834783428,8.357140985915066C0.7476518164994559,8.357140985915066,0.07555168770932141,8.979573863176483,0.07555168770932141,9.74999777419248C0.07555168770932141,10.520421685208476,0.7476518164994559,11.142854562469893,1.5341918834783428,11.142854562469893L9.080661577989304,11.142854562469893L9.080661577989304,18.107138503857414C9.080661577989304,18.87756241487341,9.75135465835865,19.499995292134827,10.581513226369225,19.499995292134827C11.411671794379345,19.499995292134827,12.082364874749146,18.87625661163429,12.082364874749146,18.146312601027603L12.082364874749146,11.142854562469893L19.586623116649207,11.142854562469893C20.416781684659327,11.142854562469893,21.08747476502913,10.520421685208476,21.08747476502913,9.74999777419248C21.08747476502913,8.979573863176483,20.416781684659327,8.357140985915066,19.586623116649207,8.357140985915066ZZM6.82938410541874,16.714281715579887L5.328532457039273,16.714281715579887C4.911108092333507,16.714281715579887,4.578106632849085,17.023321815478994,4.578106632849085,17.410710109718593L4.578106632849085,18.80356689799612C4.578106632849085,19.190955192235833,4.911108092333507,19.499995292134827,5.328532457039273,19.499995292134827L6.82938410541874,19.499995292134827C7.246808470124961,19.499995292134827,7.579809929608928,19.190955192235833,7.579809929608928,18.80356689799612L7.579809929608928,17.410710109718593C7.579809929608928,17.023321815478994,7.246808470124961,16.714281715579887,6.82938410541874,16.714281715579887ZZM20.337048940839395,12.53571135074742L18.83619729245902,12.53571135074742C18.419945468103833,12.53571135074742,18.08577146826883,12.845839620012384,18.08577146826883,13.232139744886126L18.08577146826883,14.624996533163767C18.08577146826883,15.011296658037509,18.419945468103833,15.32142492730236,18.83619729245902,15.32142492730236L20.337048940839395,15.32142492730236C20.75330076519458,15.32142492730236,21.08747476502913,15.011296658037509,21.08747476502913,14.624996533163767L21.08747476502913,13.232139744886126C21.08747476502913,12.844751450646527,20.75447330554516,12.53571135074742,20.337048940839395,12.53571135074742ZZM20.337048940839395,16.714281715579887L18.83619729245902,16.714281715579887C18.419945468103833,16.714281715579887,18.08577146826883,17.02440998484485,18.08577146826883,17.410710109718593L18.08577146826883,18.80356689799612C18.08577146826883,19.189867022869976,18.419945468103833,19.499995292134827,18.83619729245902,19.499995292134827L20.337048940839395,19.499995292134827C20.75330076519458,19.499995292134827,21.08747476502913,19.189867022869976,21.08747476502913,18.80356689799612L21.08747476502913,17.410710109718593C21.08747476502913,17.023321815478994,20.75447330554516,16.714281715579887,20.337048940839395,16.714281715579887ZZ"
                            ></path>
                        </g>
                    </g>
                </g>
            </svg>
            Snap to Grid
        </label>
        <md-switch id="stgs" class="snap-to-grid-status" v-model="snap" />
        <label for="gvs" class="grid-visibility" :class="{ active: visible || isGridFinding, disabled: isGridFinding }">
            <svg
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns="http://www.w3.org/2000/svg"
                id="screenshot"
                viewBox="-0.2381446452882301 -0.3276399906170582 25.391146693225892 18.327640342539212"
                width="25.391146693225892"
                height="18.327640342539212"
            >
                <g id="shape-0d0302b0-c18e-11eb-b2e4-7b70d3885ac1">
                    <g>
                        <g id="shape-0d060ff0-c18e-11eb-b2e4-7b70d3885ac1">
                            <path
                                d="M24.998715250304485,8.103892800593826C22.609478937633867,3.0883378958333196,17.875088163080363,-0.32763954745792034,12.457428701324716,-0.32763954745792034C7.039769239568159,-0.32763954745792034,2.304937646507369,3.0924288867832956,-0.08522438502905061,8.103892800593826C-0.16924439263038948,8.32071532094642,-0.23814432541030328,8.631630633150166,-0.23814432541030328,8.836180180652605C-0.23814432541030328,9.039788800236579,-0.16928847448070883,9.35164504035879,-0.08522438502905061,9.532875939445944C2.306260102030592,14.584022465472003,7.039769239568159,17.99999990876313,12.457428701324716,17.99999990876313C17.875088163080363,17.99999990876313,22.609478937633867,14.580749672711818,24.998715250304485,9.568467560711383C25.08247076680027,9.35164504035879,25.153001728059735,9.00391080960469,25.153001728059735,8.836180180652605C25.153001728059735,8.631630633150166,25.08247076680027,8.32071532094642,24.998715250304485,8.103892800593826ZZM18.805215214691998,8.836180180652605C18.805215214691998,12.086472490466804,15.9632582944364,14.727207148723664,12.461836886403034,14.727207148723664C8.957329748815482,14.727207148723664,6.109642187956979,12.088517985941849,6.109642187956979,8.836180180652605C6.109642187956979,5.583842375363361,8.9529215637358,2.9451532125815447,12.457428701324716,2.9451532125815447C15.961935838913178,2.9451532125815447,18.805215214691998,5.583842375363361,18.805215214691998,8.836180180652605ZZM12.457428701324716,4.908828868605269C12.356040444513837,4.908828868605269,12.21057033691568,4.925192832405514,12.082732969632616,4.941556796205646C12.316366778805332,5.317927963610259,12.457428701324716,5.751573004315333,12.457428701324716,6.21794597262101C12.457428701324716,7.664111273463504,11.194483676269556,8.836180180652605,9.636190250939308,8.836180180652605C9.133657151964144,8.836180180652605,8.626715867910207,8.701177479301009,8.256428321297335,8.488445949898505C8.243203766061015,8.611175678399945,8.225571025745921,8.737996397851475,8.225571025745921,8.836180180652605C8.225571025745921,10.967586465628301,10.121090609598923,12.76353149269994,12.457428701324716,12.76353149269994C14.793766793050054,12.76353149269994,16.689286376903055,11.004814483273776,16.689286376903055,8.836589279747614C16.689286376903055,6.668364076221451,14.754093127342003,4.908828868605269,12.457428701324716,4.908828868605269ZZ"
                            ></path>
                        </g>
                    </g>
                </g>
            </svg>
            {{ visible ? 'Grid Shown' : 'Grid Hidden' }}
        </label>
        <md-switch id="gvs" class="grid-visibility-status" v-model="visible" :disabled="isGridFinding" />
        <TutorialModal v-if="showTutorial" @close="showTutorial = false" />
    </article>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { COLLECTION_TYPES } from '@/core/collections/constants';
import * as jsonpatch from 'fast-json-patch';
import _ from 'lodash';

import TutorialModal from '../HeaderTutorial.vue';

export default {
    components: {
        TutorialModal,
    },
    data() {
        return {
            showTutorial: false,
        };
    },
    computed: {
        ...mapState('gamestate', {
            activeMap: 'activeMap',
        }),
        ...mapState('grid', {
            gridFindingStatus: 'active',
        }),
        isGridFinding: {
            get: function() {
                return this.gridFindingStatus;
            },
            set: function() {
                this.toggleGridFinder();
            },
        },
        snap: {
            get: function() {
                if (!('snap' in this.activeMap.stage.grid)) {
                    return true;
                }
                return this.activeMap.stage.grid.snap;
            },
            set: function() {
                this.toggleSnapToGrid();
            },
        },
        visible: {
            get: function() {
                if (!('visible' in this.activeMap.stage.grid)) {
                    return true;
                }
                return this.activeMap.stage.grid.visible;
            },
            set: function() {
                this.toggleGridVisibilty();
            },
        },
    },
    methods: {
        ...mapActions('collections', {
            updateMap: 'update',
        }),
        ...mapActions('grid', {
            gridFinderToggle: 'toggle',
        }),
        updateServerMap(updated) {
            const patch = jsonpatch.compare(this.activeMap, updated);
            if (patch.length > 0) {
                this.updateMap({ collection: COLLECTION_TYPES.maps, id: this.activeMap._id, patch: patch });
            }
        },
        toggleGridFinder() {
            this.gridFinderToggle();
            if (!this.isGridFinding) {
                // Clear circles?
            }
        },
        toggleSnapToGrid() {
            const clonedMap = _.cloneDeep(this.activeMap);
            clonedMap.stage.grid.snap = !this.snap;
            this.updateServerMap(clonedMap);
        },
        toggleGridVisibilty() {
            const clonedMap = _.cloneDeep(this.activeMap);
            clonedMap.stage.grid.visible = !this.visible;
            this.updateServerMap(clonedMap);
        },
    },
};
</script>

<style lang="scss" scoped>
$text-size: 1rem;

.grid-panel {
    width: 300px !important;
    display: grid !important;
    grid-template-columns: repeat(6, 15.3%);
    grid-template-rows: repeat(4, auto);
    gap: 0 5px;
}
.title {
    grid-column: 1 / span 6;
    grid-row: 1;
    margin: 0 0 0 0;
}
.grid-finder {
    grid-column: 1 / span 4;
    grid-row: 4;
}
.grid-finder-status {
    grid-column: 5 / span 1;
    grid-row: 4;
}
.tutorial {
    grid-column: 6 / span 1;
    grid-row: 4;
}
.snap-to-grid {
    grid-column: 1 / span 4;
    grid-row: 3;
}
.snap-to-grid-status {
    grid-column: 5 / span 1;
    grid-row: 3;
}
.grid-visibility {
    grid-column: 1 / span 4;
    grid-row: 2;
}
.grid-visibility-status {
    grid-column: 5 / span 1;
    grid-row: 2;
}
label {
    display: flex;
    height: 48px;
    margin: 0;
    padding: 0 0 0 0.5rem;
    line-height: 48px;
    font-size: $text-size;
    font-weight: 600;
}
button {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    margin: 9px;
    padding: 3px 3px 3px 3px;
    min-width: fit-content;
    font-weight: 600;
    font-size: 1rem;
    line-height: 100%;
    background-color: #31313a;
    border: 3px solid #31313a;
    border-radius: 50%;
    grid-column: 1 / span 3;
}
button:hover {
    box-shadow: 0 0 3px var(--white);
}
svg {
    width: $text-size;
    height: $text-size;
    margin: 0 1rem 0 0;
    align-self: center;
    fill: #fff;
    fill-opacity: 0.4;
}
.active {
    color: #f14c27;
    svg {
        fill: #f14c27;
        fill-opacity: 1;
    }
}
label[for='gvs'].disabled {
    text-decoration: line-through;
}
</style>
